.cache/
debian/files
debian/*.substvars
debian/*debhelper*
debian/xdg-desktop-portal-phosh/
debian/tmp/
po/messages.mo
po/missing
po/notexist
po/phosh-mobile-portal.pot
src/lib_config.rs
src/bin_config.rs
subprojects/pfs
target/
